@model TachzukanitBE.Models.Malfunction

@{
    ViewData["Title"] = "Details";
}

@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

<h2>Details</h2>

<div>
    <h4>Malfunction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resources)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resources)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MalfunctionId">
        <i class="fa fa-edit"></i>
    </a> |
    <a asp-action="Index">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>
