@model IEnumerable<TachzukanitBE.Models.Malfunction>

@{
    ViewData["Title"] = "Index";
}

@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/search.css" />
}

<h2>Malfunctions</h2>


<form asp-controller="Malfunctions" asp-action="Index" method="get">
    <div class="search">
        <input name="SearchString" type="text" class="search-query" placeholder="Search" />
        <button id="searchButton" class="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>

<a class="btn btn-success" asp-action="Create">
    <i class="fa fa-plus fa-2x"></i> Add
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <img class="img-large" src="@Url.Content(item.Resources)" alt=""/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentApartment.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedBy.Email)
                </td>
                <td>
                    <br>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MalfunctionId">
                        <i class="fa fa-edit"></i>
                    </a>
                    <br>
                    <br>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MalfunctionId">
                        <i class="fa fa-info"></i>
                    </a>
                    <br>
                    <br>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MalfunctionId">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
