@model IEnumerable<TachzukanitBE.ViewModels.ExtraDetailsMalfunctionsVM>

@{
    ViewData["Title"] = "Manager Screen";
}

<h2>Manager Screen</h2>
<br />
<div>
    @using (Html.BeginForm("ShowMalfExtraDetails", "Malfunctions", FormMethod.Post))
    {
        <div>
            <label for="create-date">Date/time:</label>
            <input type="datetime-local" id="createDate"
                   name="createDate"
                   min="2016-01-01T00:00" max="2024-01-01T00:00" />
        </div><br />
        <span>status: </span> @Html.DropDownList("Status", new List<SelectListItem> { new SelectListItem { Value ="Open" , Text ="Open" },
new SelectListItem { Value = "Closed" , Text ="Closed" },
new SelectListItem { Value = "InProgress" , Text ="In Progress" }}, "Please choose status")<br />
        <br />
        <p>address: @Html.TextBox("address")</p> <br />
        <p>user name: @Html.TextBox("userName")</p> <br />
        <button class="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    }

</div>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppartmentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppartmentAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>