@model TachzukanitBE.Models.Apartment

@{
    ViewData["Title"] = "Details";
}

@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

    <div style="float:right">
        <a class="btn btn-default" asp-action="Index">
            <i class="fa fa-arrow-left"></i> Back
        </a> |
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ApartmentId">
            <i class="fa fa-edit"></i> Edit
        </a> |
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ApartmentId">
            <i class="fa fa-trash-o fa-lg"></i> Delete
        </a>
    </div>
    <h2>Apartment Details</h2>
    

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            <img class="img-large" src="@Url.Content(Model.Photo)" alt=""/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomsNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomsNumber)
        </dd>
    </dl>
</div>


<div>
    <h3>Apartment's location</h3>
    <div id="map" style="position:relative;width:100%;height:500px;">></div>
</div>

<script>
    function initMap() {
        // The location of Uluru
        var uluru = { lat: @Model.Latitude, lng: @Model.Longitude };

        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru
        });

        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});

    }
</script>

<table class="table">
<thead>
    <tr>
        <th>
            Status
        </th>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Resources
        </th>
        <th>
            CreationDate
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            CurrentApartment
        </th>
        <th>
            RequestedBy
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.malfunctions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resources)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentApartment.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy.Email)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Malfunctions" asp-action="Edit" asp-route-id="@item.MalfunctionId">
                    <i class="fa fa-edit"></i>
                </a> |
                <a class="btn btn-primary" asp-controller="Malfunctions" asp-action="Details" asp-route-id="@item.MalfunctionId">
                    <i class="fa fa-info"></i>
                </a> |
                <a class="btn btn-danger" asp-controller="Malfunctions" asp-action="Delete" asp-route-id="@item.MalfunctionId">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </td>
        </tr>
    }
</tbody>
</table>
