@model IEnumerable<TachzukanitBE.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}
@section Scripts
    {

    <link rel="stylesheet" href="~/assets/css/main.css" />
        }
<br/>
<br />
    <section class="tiles">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <article class="style1">
                    <span class="image">
                        <img src="@Url.Content(item.Photo)" alt="" />
                    </span>
                    <a href="~/Apartments/Details.cshtml">
                        <h2>@Html.DisplayFor(modelItem => item.Address)</h2>
                        <div class="content">
                            <p>@Html.DisplayFor(modelItem => item.RoomsNumber)</p>
                            <a asp-action="Edit" asp-route-id="@item.ApartmentId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ApartmentId">Delete</a>
                        </div>
                    </a>
                </article>
            }
        }
    </section>