@model IEnumerable<TachzukanitBE.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/search.css" />
}
<br />
<br />
<br />
<br />
<br />
<br />
<form asp-controller="Apartments" asp-action="Index" method="get">
    <div class="search">
        <input name="SearchString" type="text" class="search-query" placeholder="Search" />
        <button id="searchButton" class="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>
    <br />


    <br />

    <section class="tiles">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <article class="style1">
                    <span class="image">
                        <img src="@Url.Content(item.Photo)" />
                    </span>
                    <a asp-action="Details" asp-route-id="@item.ApartmentId">
                        <h2>@Html.DisplayFor(modelItem => item.Address)</h2>
                        <div class="content">
                            <p>@Html.DisplayFor(modelItem => item.RoomsNumber)</p>
                        </div>
                    </a>

                </article>
            }
        }
    </section>
    <p>@Html.ActionLink("Create", "Create", "Apartments") </p>
