@model TachzukanitBE.Models.User

@{
    ViewData["Title"] = "Delete";
}

@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}
    <div style="float:right">
        <a class="btn btn-default" asp-action="Index">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
<h2>Delete User</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.FullName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Address)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <Button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-o fa-lg"></i> Delete
        </Button>
    </form>
</div>
